@{
    ViewData["Title"] = "Home - Book Shop";
}

<link rel="stylesheet" href="~/css/home_index.css" />

<div class="text-center">
    <h1 class="display-4">Добредојде!</h1>
    <p class="lead">Нова книга, нова авантура! Почни сега - купи книга.</p>
</div>