@{
    ViewData["Title"] = "Home - Book Shop";
}

<link rel="stylesheet" href="~/css/home_index.css" />

<div class="text-center">
    <h1 class="display-4">Welcome to Our Book Shop</h1>
    <p class="lead">Lose yourself in a world of stories, adventure, and knowledge. Explore books that inspire, educate, and entertain.</p>
</div>