.text-center h4 {
    color: #5e4b8b;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 17px;
}

.text-center p.lead {
    color: #6c757d;
    font-size: 16px;
}

.container {
    max-width: 900px;
    margin: auto;
}

.card {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.02);
}

.card-title {
    font-size: 1.8rem;
    font-weight: bold;
    color: #5a4181;
}

dl.row {
    font-size: 1rem;
}

dt {
    font-weight: bold;
    color: #6c757d;
}

dd {
    color: #333;
}

.card-img-top {
    border-radius: 2px;
    width: 100%;
    object-fit: cover;
}

.emoji {
    font-size: 1.2rem;
}

.card-footer {
    background: #f8f9fa;
    padding: 12px;
}

.btn {
    padding: 8px 14px;
    border-radius: 2px;
    font-size: 0.9rem;
    transition: all 0.2s ease-in-out;
}

.btn-primary {
    background-color: #5a4181;
    border-color: #5a4181;
    margin: 10px auto;
}

.btn-primary:hover {
    background-color: #473366;
    border-color: #473366;
}

.btn {
    border-radius: 0px;
}

@media (max-width: 768px) {
    .row {
        flex-direction: column-reverse;
    }

    .col-md-4 {
        margin-bottom: 20px;
    }

    .card {
        text-align: center;
    }
}
