@model BookApplication.Domain.Domain.ShoppingCart

@{
    ViewData["Title"] = "Delete";
}

<h3>Сигурно сакаш да ме избришеш?</h3>
<div>
    <h4>Кошмичка</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            Купувач
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Owner.Id)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Назад</a>
    </form>
</div>
