<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Docker</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/c7cdc595-fc08-47ea-bdc6-20223070a9d5/resourceGroups/EastUSGroup/providers/Microsoft.ContainerRegistry/registries/BookApplicationWebFINKIABE</ContainerResourceId>
    <ContainerResourceName>BookApplicationWebFINKIABE</ContainerResourceName>
    <Subscription>Test</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>bookapplicationwebfinkiabe.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <ContainerName>bookapplicationweb</ContainerName>
    <EnvironmentName>BookApplicationWeb-env-20250206225932</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://bookapplicationweb-app-202502062.orangeriver-3635bf67.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c7cdc595-fc08-47ea-bdc6-20223070a9d5/resourceGroups/EastUSGroup/providers/Microsoft.App/containerapps/bookapplicationweb-app-202502062</ResourceId>
    <ResourceGroup>EastUSGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>AzureContainerAppLinux</_TargetId>
  </PropertyGroup>
</Project>