<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121.
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>Container</WebPublishMethod>
    <PublishProvider>ContainerApp</PublishProvider>
    <ContainerResourceId>/subscriptions/c7cdc595-fc08-47ea-bdc6-20223070a9d5/resourcegroups/EastUSGroup/providers/Microsoft.ContainerRegistry/registries/BookApplicationWebFINKIABE</ContainerResourceId>
    <ContainerResourceName>BookApplicationWebFINKIABE</ContainerResourceName>
    <Subscription>Test</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>bookapplicationwebfinkiabe.azurecr.io</RegistryUrl>
    <ContainerPublishMethod>NetSdk</ContainerPublishMethod>
    <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
    <ContainerName>bookapplicationweb</ContainerName>
    <EnvironmentName>BookApplicationWeb-env-20250206225932</EnvironmentName>
    <SiteUrlToLaunchAfterPublish>https://bookapplicationweb-app-202502062.orangeriver-3635bf67.eastus.azurecontainerapps.io</SiteUrlToLaunchAfterPublish>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ResourceId>/subscriptions/c7cdc595-fc08-47ea-bdc6-20223070a9d5/resourceGroups/EastUSGroup/providers/Microsoft.App/containerApps/bookapplicationweb-app-202502062</ResourceId>
    <ResourceGroup>EastUSGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <_TargetId>NetSdkAzureContainerAppLinux</_TargetId>
    <ExcludeApp_Data>false</ExcludeApp_Data>
    <TargetFramework>net8.0</TargetFramework>
    <PublishSingleFile>false</PublishSingleFile>
    <ProjectGuid>5333b42b-5ffe-4cf8-aa3a-a4ac076fc155</ProjectGuid>
    <SelfContained>true</SelfContained>
    <ImageName>bookapplicationweb:&lt;Will be generated during publish&gt;</ImageName>
    <History>False|2025-02-06T22:46:53.8961717Z;False|2025-02-06T23:40:47.8874842+01:00;False|2025-02-06T23:36:51.6378553+01:00;False|2025-02-06T23:34:57.1746549+01:00;False|2025-02-06T23:28:54.5349487+01:00;False|2025-02-06T23:21:34.3439995+01:00;False|2025-02-06T23:17:08.0485017+01:00;</History>
    <EnvironmentSubType>AzureContainerAppProfileVisual</EnvironmentSubType>
    <ManagedEnvironmentResourceId>/subscriptions/c7cdc595-fc08-47ea-bdc6-20223070a9d5/resourceGroups/EastUSGroup/providers/Microsoft.App/managedEnvironments/BookApplicationWeb-env-20250206225932</ManagedEnvironmentResourceId>
    <_IsDockerfilePresent>true</_IsDockerfilePresent>
  </PropertyGroup>
</Project>